
<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Apple</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project3.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p> I Wanted to learn how Apple is bringing revolution in information technology.</p>
            </div>
        </div>
    </div>
    <!--Project Links-->
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="list-group">
                   
                </div>
            </div>
        </div>
    </div>
</div>