
<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>IBM canada</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project2.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p> I wanted to work on IBM canada as a software developer.</p>
            </div>
        </div>
    </div>
    <!--Project Links-->
    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="list-group">
                    
                </div>
            </div>
        </div>
    </div>
</div>