
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center"><h1>About Amrit Sapkota</h1></div>
    </div>
    <!--About me information-->
    <div class="row well">
        <div class="col-md-2 col-md-offset-2">
            <img src="/assets/images/profile-picture.png" class="img-responsive img-rounded center-block"/>
        </div>
        <div class="col-md-6">
            <p>
                I am a talented, ambitious and hardworking individual and a quick learner.

Furthermore, I am adept at handling multiple tasks on a daily basis competently and at working well under pressure.

A key strength is communication; building strong relationships with people in order to deliver the best results.

I am currently studying software engineering at centennial college.
            </p>
            <h4>Social sites link:</h4>
            <div class="list-group text-center">
                <a href="https://https://github.com/ArtimAtk"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/amrit-atokpas-b51a6219a/"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
                <a href="https://www.youtube.com/channel/UCErTumRMZ8GzYa2Nz_Y1Amw"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
                <a href="https://www.facebook.com/atk.amrit/"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                <a href="https://www.instagram.com/amrit.sapkota01/"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> Instagram </a>
            </div>
        </div>
    </div>
</div>