
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Amrit Sapkota </h1>
            <h3 class="subtitle">Eportfolio</h3>
        </div>
    </div>
    <!--Home intro-->
    <div class="row well">
        <div class="col-md-4">
            <img src="/assets/images/Nepal flag.jpg" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/home-profile-picture.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/canada-flag.jpg" class="img-responsive img-rounded center-block">
        </div>
    </div>
</div>