
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>My Services</h1>
        </div>
    </div>
    <!--Services-->
    <div class="row well">
        <div class="col-md-12 text-center">
            <h4>
                <li>software design methodologies</li>
                <li> user-oriented interface design</li>
                <li>software testing and QA,</li>
                <li> C#,</li>
                <li>Java,</li>
                <li> Java EE,</li>
                <li> Oracle,</li>
                <li> MS-SQL server,</li>
                <li> UNIX/Linux,</li>
                <li> Python,</li>
                <li> Microsoft's ASP.NET Core,</li>
                <li> HTML5/JavaScript/Angular,</li>
                <li> mobile application development,</li>
                <li> emerging web frameworks,</li>
                <li> cloud computing,</li>
                <li> data mining and more.</li>
            </h4>
        </div>
    </div>
</div>