

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/assets/images/background.jpg");
}

a {
    color: #00B7FF;
}

.top-buffer {
    margin-top: 5px;
}

.subtitle {
    color: rgb(78, 122, 151);
    font-weight: 300;
}
.footer {
    color: seagreen;
}